body {
  background-image: url("../assets/bar_background.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}

.navbar-brand {
  font-family: "Monoton", cursive;
  font-size: 40px;
}

.navbar {
  opacity: 0.8;
}

h3 {
  margin-bottom: 15px;
  font-family: "Nixie One", cursive;
}

h2 {
  font-family: "Nixie One", cursive;
}

h4 {
	margin: 15px;
	font-family: "Nixie One", cursive;
}

#map {
  height: 100%;
}

/* Whiskey Page CSS*/

#container-whiskey {
  background: lightgray;
  opacity: 0.95;
  width: 960px;
  margin: 70px;
  margin-left: auto;
  margin-right: auto;
  padding: 60px;
  border-radius: 25px;
  height: 520px;
  overflow-y: auto;
}

.card-header {
  font-size: 16px;
  font-weight: bold;
}

/* Recipe Page CSS*/

#container-recipe {
  background: lightgray;
  opacity: 0.95;
  width: 960px;
  margin: 70px;
  margin-left: auto;
  margin-right: auto;
  padding: 60px;
  border-radius: 25px;
  height: 520px;
  overflow-y: auto;
}

.btn {
  background: #92c6f1;
  opacity: 1;
}

.card {
  margin-top: 20px;
}

/* Profile Page CSS*/

.container-profile {
  background: lightgray;
  opacity: 0.95;
  width: 960px;
  margin: 70px;
  margin-left: auto;
  margin-right: auto;
  padding: 60px;
  border-radius: 25px;
  height: 520px; /* or any value */
  overflow-y: auto;
}

/* Sign In CSS */

#container-login {
  background: lightgray;
  opacity: 0.95;
  width: 720px;
  margin: 100px;
  margin-left: auto;
  margin-right: auto;
  padding: 60px;
  border-radius: 25px;
}

.register {
  margin-top: 25px;
}

/* Sign Up CSS */

#container-signup {
  background: lightgray;
  opacity: 0.95;
  width: 720px;
  margin: 100px;
  margin-left: auto;
  margin-right: auto;
  padding: 60px;
  border-radius: 25px;
}

/* Bars CSS*/

#container-bar {
  background: lightgray;
  opacity: 0.95;
  width: 960px;
  margin: 70px;
  margin-left: auto;
  margin-right: auto;
  padding: 60px;
  border-radius: 25px;
  height: 520px;
  overflow-y: auto;
}

/* New Recipe CSS */

.container-newrecipe {
  background: lightgray;
  opacity: 0.95;
  width: 960px;
  margin: 70px;
  margin-left: auto;
  margin-right: auto;
  padding: 60px;
  border-radius: 25px;
  height: 520px;
  overflow-y: auto;
}
