<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/profile">Proof</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="#">Home</a>
                <a class="nav-item nav-link" href="/whiskeys">Whiskeys</a>
                <a class="nav-item nav-link" href="/recipes">Cocktail Recipes<span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="#">Locate a Bar</a>
                <a class="nav-item nav-link" href="/">Log Out</a>
            </div>
        </div>
    </nav>


    <div id="container-bar">
        <div class="row">
            {{#each user}}

            <h3>{{this.favorite_bar}}</h3>

            {{/each}}
            <div class="col-md-2 col-sm-2">
                <a class="btn btn-light" href="/">Locate a Bar</a>
            </div>
        </div>
        <div class="row">
            {{#each bars}}

            {{/each}}
            <div class="col-md-2 col-sm-2">
                <a class="btn btn-light" href="/">Locate a Bar</a>
            </div>
        </div>
    </div>
</body>

</html>