<body>

	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="/profile">Proof</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
			aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<div class="navbar-nav">
				<a class="nav-item nav-link" href="/whiskeys">Whiskeys</a>
				<a class="nav-item nav-link" href="/recipes">Cocktail Recipes</a>
				<a class="nav-item nav-link" href="/bars">Locate a Bar<span class="sr-only">(current)</span></a>
				<a class="nav-item nav-link" href="/logout">Log Out</a>
			</div>
		</div>
	</nav>


	<div id="container-bar">
		<div class="row">
			<div class="col-12">
				<a class="btn btn-light" href="/addbar">Add Bar!</a>
			</div>
			<div class="col-12 d-flex flex-row flex-wrap">

				{{#each bars}}
				<div class="card col-12">
					<div class="card-header">
						{{this.bar_name}}
					</div>

					<div class="card-body">
						<div class="map" data-place="{{this.place_id}}"></div>
					</div>

					<button class="favorite btn btn-primary" data-id="{{this.id}}"
						data-toggle={{#if this.favorite}}"unfave">Unfavorite?{{else}}"fave">Favorite?{{/if}}</button>
				</div>
				{{/each}}

			</div>
		</div>
	</div>

	<script
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDenLsWmAmIc53qrRwdNpTZPQidd8dfV5g &libraries=places"></script>

	<script>

		$(document).ready(() => {
			$(".map").each((index, elem) => {
				var info = new google.maps.InfoWindow();

				var map = new google.maps.Map(elem, { center: new google.maps.LatLng(0, 0), zoom: 15 });

				var service = new google.maps.places.PlacesService(map);

				console.log($(elem).data("place"));

				service.getDetails({
					placeId: $(elem).data("place"),
					fields: ['name', 'geometry', 'formatted_address']
				}, (place, status) => {
					createMarker(place, map);
				})
			});

			$(".favorite").on("click", (event) => {
				$.ajax({
					method: "PUT",
					url: "/barfave/" + $(event.currentTarget).data("id")
				}).then(() => {
					var butt = $(event.currentTarget);

					if (butt.data("toggle") === "fave") {
						butt.data("toggle", "unfave");
						butt.text("Unfavorite?");
					} else {
						butt.data("toggle", "fave");
						butt.text("Favorite?");
					}
				});
			});
		})

		function createMarker(place, map) {
			var marker = new google.maps.Marker({
				map: map,
				position: place.geometry.location
			});

			console.log(place);

			var infowindow = new google.maps.InfoWindow();

			map.setCenter(place.geometry.location);
			infowindow.setContent(place.name + "<br>" + place.formatted_address);
			infowindow.open(map, marker);

			return marker;
		}



	</script>
</body>

</html>