<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Proof<span class="sr-only">(current)</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="#">Whiskeys</a>
                <a class="nav-item nav-link" href="#">Cocktail Recipes</a>
                <a class="nav-item nav-link" href="#">Log Out</a>
            </div>
        </div>
    </nav>


    <div class="container profile">
        <div class="row">
            {{#each User}}

            <h2>{{this.firstname}} {{this.lastname}}</h2>
            <h3>{{this.username}}</h3>
            <p>{{this.about}}</p>

            {{/each}}
        </div>
    </div>


</body>

</html>