<body>

	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="/">Proof<span class="sr-only">(current)</span></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
			aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
	</nav>

	<div id="container-login">
		<div class="row justify-content-md-center">

			<form id="signin" name="signin" method="post" action="signin">
				<label for="email">Email Address: </label>
				<input class="text" name="email" type="text" />
				<label for="password">Password: </label>
				<input name="password" type="password" />
				<input class="btn btn-light" type="submit">
			</form>
			<p class="register">
				Not registered? Sign up now!
				<a class="btn btn-light" href="/signup">Sign Up</a>
			</p>

		</div>
	</div>

</body>

</html>