<body>

	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="/">Proof</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
			aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
	</nav>

	<div id="container-signup">
		<div class="row justify-content-md-center">
			<form id="signup" name="signup" method="post" action="/signup">
				<label for="email">Email Address: </label>
				<input class="text" name="email" type="email" />
				<label for="firstname">First name: </label>
				<input name="firstname" type="text" />
				<label for="lastname">Last name: </label>
				<input name="lastname" type="text" />
				<label for="password">Password: </label>
				<input name="password" type="password" />
				<label for="checkDate">Date of Birth: </label>
				<input class="date" type="date" />
				<input class="btn" type="submit" value="Sign Up" />
			</form>
		</div>
	</div>


	<script type="text/javascript">

		function signup(form) {
			function checkDate(field) {
				var allowBlank = true;
				var minYear = 1902;
				var maxYear = (new Date()).getFullYear();

				var errorMsg = "";

				// regular expression to match required date format
				re = /^(\d{1,2})\/(\d{1,2})\/(\d{4})$/;

				if (field.value != '') {
					if (regs = field.value.match(re)) {
						if (regs[1] < 1 || regs[1] > 31) {
							errorMsg = "Invalid value for day: " + regs[1];
						} else if (regs[2] < 1 || regs[2] > 12) {
							errorMsg = "Invalid value for month: " + regs[2];
						} else if (regs[3] < minYear || regs[3] > maxYear) {
							errorMsg = "Invalid value for year: " + regs[3] + " - must be between " + minYear + " and " + maxYear;
						}
					} else {
						errorMsg = "Invalid date format: " + field.value;
					}
				} else if (!allowBlank) {
					errorMsg = "Empty date not allowed!";
				}

				if (errorMsg != "") {
					alert(errorMsg);
					field.focus();
					return false;
				}

				return true;
			}
		}
	</script>

</body>

</html>