<body>

	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="/">Proof</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
			aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
	</nav>

	<div id="container" class="container" style="height: unset; overflow-y: unset;">
		<h3>Sign up Here!</h3>
		<strong>All fields required</strong>
		<form id="signup" name="signup" method="post" action="/signup">
			<label for="email">Email Address: </label>
			<input class="text" name="email" type="email" /><br>
			<label for="firstname">First name: </label>
			<input name="firstname" type="text" /><br>
			<label for="lastname">Last name: </label>
			<input name="lastname" type="text" /><br>
			<label for="password">Password: </label>
			<input name="password" type="password" /><br>
			<label for="date">Date of Birth (Must be 21+): </label>
			<input name="date" type="date" /><br>
			<input class="btn" type="submit" value="Sign Up" />
		</form>
	</div>
</body>

</html>