<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Proof</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="#">Whiskeys</a>
                <a class="nav-item nav-link" href="#">Cocktail Recipes<span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="#">Locate a Bar</a>
                <a class="nav-item nav-link" href="#">Log Out</a>
            </div>
        </div>
    </nav>



</body>